@keyframes ldio-ek4a5jkokfj {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-ek4a5jkokfj div {
  position: absolute;
  width: 66px;
  height: 66px;
  border: 6px solid #edaf10;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-ek4a5jkokfj div {
  animation: ldio-ek4a5jkokfj 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-ycetw5w3ub {
  width: 48px;
  height: 48px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ek4a5jkokfj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.48);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ek4a5jkokfj div {
  box-sizing: content-box;
}
